<section class="ui inverted grey segment">
<section class="ui yellow raised segment">
    <div class="ui grid">
        <aside class="eight wide column">
            <img src="images/homer5.jpg" class="ui medium centered image">
        </aside>
        <article class="eight wide column">
            <table class="ui center aligned celled table segment">
                <thead>
                <tr>
                    <th>Amount</th>
                    <th>Method donated</th>
                    <th>Donor's email</th>
                </tr>
                </thead>
                <tbody>
                {{#each donations}}
                    <tr>
                        <td> <i class="euro icon"></i>{{amount}} </td>
                        <td> {{method}} </td>
                        <td>{{donor}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>
</section>
