{{> welcomemenu }}

<section class="ui inverted grey segment">
    <section class="ui yellow center aligned segment">
        <div class="ui two column grid basic middle aligned segment">

            <div class="column">
                <h3><i>"You, yes YOOOUUUUUUUU!!! <br>Go and Donate to me right now! (thank you) <br></i></h3>
                <img class="ui centered small image" src="images/homerpointingatyou.png">
            </div>

            <div class="column">
                <h2 class="ui red header">
                    GoDonateToMe
                </h2>
                <p>
                    <i>GoDonateToMe USA Ltd.<br>
                        71 Sir Brad Groerson's Avenue,<br>
                        Springfield - Ohio,<br>
                        USA.</i><br><br>
                    <strong><i class="call icon"></i>telephone:</strong> <em> 1-800-300-561</em><br>
                    <strong><i class="mail icon"></i>email:</strong> <em> godonatetome@gmail.com</em><br>
                    <strong><i class="world icon"></i>website:</strong><em> www.godonatetome.com</em>
                </p>
            </div>
        </div>
    </section>
</section>