{{> mainmenu _id="home" }}

<section class="ui inverted grey segment">
<section class="ui raised segment">

    {{> donate }}

    <div class="ui  divider"></div>

    <div class="ui red progress" data-percent="${progress}" id="mainprogress">
        <div class="bar"></div>
    </div>

</section>
</section>