<nav class="ui menu">
    <header class="header item"> Donation</header>
    <div class="right menu">
        <div class="ui dropdown item">
            &emsp;Menu&emsp;&emsp;<i class="brown sidebar icon"></i>
            <div class="menu">
                <a id="signup" class="item" href="/home">Donate&emsp;<i class="green euro icon icon"></i></a>
                <a id="login" class="item" href="/report">Report&emsp;&nbsp;&nbsp;<i class="yellow write icon"></i></a>
                <a id="about" class="item" href="/logout">Logout&emsp;&nbsp;<i class="red sign out icon"></i></a>
            </div>
        </div>
    </div>
</nav>

<section class="ui inverted grey segment">
<section class="ui raised segment">

    {{> donate }}

    <div class="ui  divider"></div>

    <div class="ui red progress" data-percent="${progress}" id="mainprogress">
        <div class="bar"></div>
    </div>

</section>
</section>