<!DOCTYPE html>
<html>
<head>
    <title>Login to Donations</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="stylesheet" media="screen" href="css/main.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
</head>
<body style="background-image:url(http://res.cloudinary.com/cloud101/image/upload/v1505820149/Simspons_Clouds_at7rah.jpg)">
<section class="ui container">
    <nav class="ui menu">
        <header class="header item">Donation</header>
        <div class="right menu">
            <div class="ui simple dropdown item">
                &emsp;Menu&emsp;&emsp;<i class="brown sidebar icon"></i>
                <div class="menu">
                    <a id="signup" class="item" href="/signup">&emsp;Sign Up&nbsp;&nbsp;<i class="blue write icon"></i></a>
                    <a id="index" class="item" href="/">&emsp;Home&emsp;<i class="green home icon"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <section class="ui inverted grey segment">
        <section class="ui raised segment">
            <div class="ui grid">
                <aside class="ui six wide column">
                    <img src="images/homerdoughnut.ico" class="ui medium image">
                </aside>
                <div class="ui ten wide column fluid form">
                    <div class="ui raised segment">
                        <form action="/login" method="POST">
                            <h2 class="ui red center aligned header">Log-in</h2>
                            <div class="field">
                                <label>Email</label>
                                <div class="ui icon input">
                                    <input placeholder="Email" type="text" name="email">
                                    <i class="mail icon"></i>
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui icon input">
                                    <input type="password" name="password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>

                            <button class="ui animated fade blue submit button">
                                <div class="visible content"><i class="lock icon"></i>Login</div>
                                <div class="hidden content"><i class="unlock icon"></i>Click</div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
</body>
</html>