<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Donations</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
</head>
<body style="background-image:url(http://res.cloudinary.com/cloud101/image/upload/v1505835787/background_sofwgr.jpg)">
<section class="ui container">
    <nav class="ui menu">
        <header class="header item">Donation</header>

        <div class="right menu">
            <div class="ui simple dropdown item">
                &emsp;Menu&emsp;&emsp;<i class="brown sidebar icon"></i>
                <div class="menu">
                    <a id="signup" class="item" href="/signup">&emsp;Sign Up&nbsp;&nbsp;&nbsp;<i class="blue write icon"></i></a>
                    <a id="login" class="item" href="/login">&emsp;Login&emsp;&nbsp;&nbsp;<i class="red sign in icon"></i></a>
                    <a id="about" class="item" href="/about">&emsp;About&emsp;&nbsp;<i class="yellow info circle icon"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <section class="ui inverted grey segment">
        <section class="ui raised segment">
            <div class="ui grid">

                <aside class="six wide column">
                    <img class="ui big image" src="images/homer.gif">
                </aside>

                <article class="ten wide column">
                    <header class="ui header"> Help Me Run Springfield</header>
                    <p> Donate what you can now - No Bitcoins accepted! </p>
                </article>

            </div>
        </section>
    </section>
</section>
</body>
</html>